{% extends "layouts/full-width.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

  <h1>{{ title }}</h1>

  <p>The page you are looking for is not here?  That's so weird.</p>

{% endblock %}
