{% extends 'layouts/_base.html.twig' %}

{% set body_classes = ' one-sidebar' ~ body_classes %}

{% block main %}
  <div id="content" class="content">
    {% block content %}{% endblock %}
  </div>
  <div id="sidebar" class="sidebar">
    {% block sidebar %}{% endblock %}
  </div>
{% endblock %}
