Options +FollowSymLinks

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule \.(css|js|png|jpg|svg|gif)$ - [L]
  RewriteCond %{REQUEST_URI} (.*)/$
  RewriteRule ^ %1 [R=301,L]
  RewriteRule . index.php [L]
</IfModule>