Options +FollowSymLinks

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule \.(css|js|png|jpg|svg|gif)$ - [L]
  RewriteRule ^(.*)/$ /$1 [L,R=301]
  RewriteRule . index.php [L]
</IfModule>